# Visual Studio temporary files, caches, and settings
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docuser

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docuser

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Project-specific overrides
